<p>
  If the settings of your LinkBox seem fine, you can save it
  to use these settings at the next boot.
</p>

<p>
  <strong>Warning</strong> : if you save a wrong configuration,
  your LinkBox may not reboot correctly !
</p>
