Source: linkcontrol
Section: sound
Priority: optional
Maintainer: Alban Peignier <alban@tryphon.eu>
Build-Depends: debhelper, cdbs, ruby1.9.1 (>= 1.9.3), ruby1.9.1-dev (>= 1.9.3), libxml2-dev, libxslt1-dev, libsqlite3-dev, python, git-core, libtag1-dev
Standards-Version: 3.8.1
Homepage: http://projects.tryphon.eu/projects/linkcontrol

Package: linkcontrol
Architecture: all
Depends: ruby, libsqlite3-ruby, rake, rubygems, irb
Recommends: libapache2-mod-passenger
Description: Web interface to manage audio links created with a
 LinkBox system
 .
 See <http://projects.tryphon.eu/projects/linkbox/> for more info.
